@media screen and (min-width: 780px) {
  .top-bar {
    height: 100px;
    padding-left: 32px;
    padding-right: 32px;

    .tb-right {
      img {
        margin-top: 32.5px;
        height: 35px;
      }
    }
    .tb-left img {
      height: 22px;
      margin-top: 39px;
    }
  }

  .top-main-info {
    background-image: url("../images/allef-vinicius-for\ tablet.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0px;
    padding-left: 33px;
    .tmi-barber img {
      margin-top: 50px;
      height: 130px;
      width: 400px;
    }
  }
  .tmi-info {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    width: 400px;
    p {
      font-weight: 700px;
      font-size: 21px;
      line-height: 23px;
      display: inline-block;
      padding-right: 0px;
      color: $light-text;
      
    
      
   
    }
  }
  .tmi-button {
    margin-top: 26px;
    input {
      
      
      border: 0px;
      width: 165px;
    }
  }
}
